<!DOCTYPE html>
<html>
  <head>
    <title>Billboard18</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navigation">
    <ul>
      <%= link_to boards_path, :index => 'go' do %><li>Boards</li><% end %>
      <%= link_to artists_path, :index => 'go' do %><li>Artists</li><% end %>
    </ul>
  </div>  
    <%= yield %>
  </body>
</html>
