<!DOCTYPE html>
<html>
  <head>
    <title>Billboard18</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navigation">
    <ul>
      <% if user_signed_in? %>
      <li class= "welcome"><%= "Welcome #{current_user.email}" %></li>
      <% end %>
      <%= link_to boards_path, :index => 'go' do %><li>Charts</li><% end %>
      <%= link_to new_board_path, :new => 'go' do %><li> New Chart</li><% end %>
      <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %> 
    </ul>
  </div>  
    <%= yield %>
  </body>
</html>
